<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [16]:
nums = [2, 7, 1, 5, 10]

In [17]:
import numpy as np

In [18]:
candidate = 8.2

In [19]:
x = 2 - 8.2
x**2

38.43999999999999

In [46]:
def sum_sq(nums, candidate):
    total = 0
    for num in nums:
        x = num - candidate
        tot = x**2
        total += tot
    return total

In [47]:
sum_sq(nums, candidate)

105.19999999999997

In [48]:
options = list(np.linspace(0, 10, 101))

In [56]:
x = 100000
for option in options:
    a = sum_sq(nums, option)
    if a < x:
        x = a
        candidate = option
    else:
        pass
print(x, candidate)

54.0 5.0

In [55]:
for option in options:
    a = sum_sq(nums, option)
    print(a)

179.0
174.05
169.20000000000002
164.45
159.79999999999998
155.25
150.8
146.45
142.2
138.04999999999998
134.0
130.05
126.20000000000002
122.44999999999999
118.79999999999998
115.25
111.80000000000001
108.45000000000002
105.2
102.05
99.0
96.05000000000001
93.19999999999999
90.44999999999999
87.8
85.25
82.80000000000001
80.45
78.19999999999999
76.05
74.0
72.05000000000001
70.19999999999999
68.44999999999999
66.8
65.25
63.80000000000001
62.449999999999996
61.19999999999999
60.05
59.0
58.05
57.2
56.45
55.8
55.25
54.8
54.45
54.199999999999996
54.05
54.0
54.050000000000004
54.2
54.45
54.800000000000004
55.25
55.8
56.45
57.2
58.05000000000001
59.0
60.050000000000004
61.2
62.45
63.80000000000001
65.25
66.80000000000001
68.45
70.20000000000002
72.05000000000001
74.0
76.05000000000001
78.20000000000002
80.45000000000002
82.80000000000001
85.25
87.80000000000001
90.45000000000002
93.20000000000002
96.05000000000001
99.0
102.04999999999998
105.20000000000003
108.45000000000003
111.80000000000001
115.25
118.8
122.45000000000003
126.20000000000002
130.05
134.0
138.04999999999998
142.20000000000005
146.45000000000005
150.80000000000004
155.25
159.80000000000007
164.45000000000005
169.20000000000002
174.05
179.0

In [21]:
total = 0
for num in nums:
    x = num - 8.2
    tot = x**2
    tot = round(tot, 2)
    total += tot
    print(tot)
    print(round(total, 2))
    print()

38.44
38.44

1.44
39.88

51.84
91.72

10.24
101.96

3.24
105.2

In [8]:
total

140.39999999999995